* body {
    background-color: #0e0e0f;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 0;
    padding: 40px;
    color:#8d8181;
    font-size: 30px;
    font-family: 'Ice Hockey', 'Courier New', Courier, monospace, sans-serif;
    background-color: #0e571a33;
    font-weight: bold;
}

footer {
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    color: #8d8181;
    font-weight: 400;
}

#button-container {
    margin: 2% 20%;
    padding: 5% 2%;
    border-radius: 20px;
    border-style: double; 
    border-width: 10px;
    border-color: #0e571a;
    background-color: #0e0e0f;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    border: 3px solid #0e571a;
    outline: 3px solid #0e571a;
    outline-offset: -9px;
    background-color: #0e0e0f;
}

#resetBtn {
    margin: 2% 20%;
    padding: 5% 2%;
    border-radius: 20px;
    border-style: double; 
    border-width: 10px;
    border-color: #0e571a;
    background-color: #0e0e0f;
    text-align: center;
    color:#8d8181;
    font-size: 24px ;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace, sans-serif;
    font-weight: bold;
}

.link {
    margin: 2px 2px;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration:none;
    color: #0e571a;
    border-style: double; 
    border-radius: 10px;
    border-width: 10px;
    border-color: #0e571a;
    background-color: #0e0e0f;
    text-align: center;
    color:#0e571a;
    font-size: 24px ;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace, sans-serif;
    font-weight: bold;
}

.link:active{
    transform: scale(0.90);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.link:hover{
    margin: 2px 2px;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration:none;
    color: #0e0e0f;
    border-style: double; 
    border-radius: 10px;
    border-width: 10px;
    border-color: #0e571a;
    background-color: #0e571a;
    text-align: center;
    color:#0e0e0f;
    font-size: 24px ;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace, sans-serif;
    font-weight: bold;
    box-shadow: 0 0 5px #0e571a, 0 0 6px #0e571a, 0 0 7px #0e571a;
    transition: 0.2s;
}

button:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


#rockBtn{
    background-image: url('./images/rock.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 130px 130px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

#rockBtn:hover{
    background-color: #0e571a;
    background-image: url('./images/rock2.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 130px 130px;
    border: 3px solid #0e0e0f;
    outline: 3px solid #0e0e0f;
    box-shadow: 0 0 5px #0e571a, 0 0 6px #0e571a, 0 0 7px #0e571a;
}


#papperBtn{
    background-image: url('./images/papper.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 130px 130px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

#papperBtn:hover{
    background-color: #0e571a;
    background-image: url('./images/papper2.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 130px 130px;
    border: 3px solid #0e0e0f;
    outline: 3px solid #0e0e0f;
    box-shadow: 0 0 5px #0e571a, 0 0 6px #0e571a, 0 0 7px #0e571a;
}

#scissorBtn{
    background-image: url('./images/scissor.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 130px 130px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

#scissorBtn:hover{
    background-color: #0e571a;
    background-image: url('./images/scissor2.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 130px 130px;
    border: 3px solid #0e0e0f;
    outline: 3px solid #0e0e0f;
    box-shadow: 0 0 5px #0e571a, 0 0 6px #0e571a, 0 0 7px #0e571a;
}

#resultContainer {
    text-align: center;
    margin: 2% 20%;
    padding: 3% 2%;
    border-radius: 20px;
    border-style: double; 
    border-width: 10px;
    border-color: #0e571a;
    background-color: #0e0e0f;
    color:#8d8181;
    font-size: 24px ;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace, sans-serif;
    font-weight: bold;
}

#game-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: 2% 20%;
    padding: 5% 2%;
    border-radius: 20px;
    border-style: double; 
    border-width: 10px;
    border-color: #0e571a;
    background-color: #0e0e0f;
    color:#8d8181;
    font-size: 24px ;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace, sans-serif;
    font-weight: bold;
}

.gameContainer{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 3px solid #0e571a;
    outline: 3px solid #0e571a;
    outline-offset: -9px;
    background-color: #0e0e0f;
}
